*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image:url("img/colorful-wallpaper-background-multicolored-generative-ai.jpg");
}
.app{
    background:whitesmoke;
    width: 90%;
    max-width: 600px;
    margin:100px auto 0;
    border-radius: 10px;
    padding:30px;
}
.app h1{
    font-size: 25px ;
    color: black;
    font-weight: 600;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
    text-align: center;
    box-shadow: 10px 0 15px 5px ;
    background-color: gainsboro;
    

}
.quiz{
    padding: 20px 0;

}
.quiz h2{
    font-size: 18px;
    color:black;
     font-weight: 900;
     
}
.btn{
    background: white;
    color:black;
    font-weight: 700;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;

}
.btn:hover:not([disabled]){
      
    color: black;
    
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background: rgb(74, 13, 132);;
    color: white;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;

}
.correct{
    background: aqua;
}
.incorrect{
    background: salmon;
}
